Source: kannel
Section: net
Priority: optional
Maintainer: Paul Dwerryhouse <paul@dwerryhouse.com.au>
Build-Depends: debhelper (>> 7.0.0), libxml2-dev, libssl-dev (>= 0.9.8), openssl, libmysqlclient-dev | libmysqlclient15-dev, libpam0g-dev, autoconf, automake1.10, autotools-dev
Build-Depends-Indep: docbook-dsssl, jadetex, transfig, imagemagick, ghostscript, jade, docbook
Vcs-Git: git://git.debian.org/git/collab-maint/kannel.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/kannel.git;a=summary
Homepage: http://www.kannel.org/
Standards-Version: 3.8.2

Package: kannel
Architecture: any
Section: net
Priority: optional
Depends: ${shlibs:Depends}, adduser, psmisc
Conflicts: kannel-devel, kannel-cvs
Replaces: kannel-devel, kannel-cvs
Description: WAP and SMS gateway
 Kannel is a gateway for connecting WAP (Wireless Application Protocol)
 phones to the Internet. It also works as an SMS/SMPP gateway, for providing
 SMS based services for GSM phones.
 .
 Compiled with ssl, MySQL and native malloc.
 .

Package: kannel-extras
Architecture: any
Section: net
Priority: optional
Suggests: python
Depends: ${shlibs:Depends}, kannel (= ${binary:Version})
Description: WAP and SMS gateway extras
 Kannel is a gateway for connecting WAP (Wireless Application Protocol)
 phones to the Internet. It also works as an SMS/SMPP gateway, for providing
 SMS based services for GSM phones.
 .
 Test utilities and contrib data.
 .

Package: kannel-docs
Architecture: all
Section: doc
Suggests: kannel
Priority: optional
Description: WAP and SMS gateway documentation
 Kannel is a gateway for connecting WAP (Wireless Application Protocol)
 phones to the Internet. It also works as an SMS/SMPP gateway, for providing
 SMS based services for GSM phones.
 .
 Documentation in html, rtf and pdf format.
 .

Package: kannel-dev
Architecture: any
Section: devel
Description: WAP and SMS gateway headers and development files
 Kannel is a gateway for connecting WAP (Wireless Application Protocol)
 phones to the Internet. It also works as an SMS/SMPP gateway, for providing
 SMS based services for GSM phones.
 .
 Headers and development files.
 .
